<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans.xsd">

   	<bean id="employee" class="mypack.Employee" autowire="byName">
                 <property name="name" value="Smith" />   
                 <property name="role"  value="Technical Architect" />
           </bean>

       	<bean id="addr" class="mypack.Address">
            	 <property name="city" value="Pune" /> 
            	 <property name="pincode" value="411002" /> 
        </bean>

 </beans>