<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans.xsd">
           
           <bean id="employee" class="mypack.Employee" scope="prototype">
            	<constructor-arg value="Smith" />   
            	<constructor-arg value="Technical Architect" /> 
            	<constructor-arg ref="addr"/>
           </bean>
          <bean id="addr" class="mypack.Address">
            	<constructor-arg value="Pune" /> 
             	<constructor-arg value="411002" /> 
         </bean>

</beans>